.wrapper {
    text-align: center;
    background:url(wood-board-2.png);
}
.linkedlist {
    text-align: left;
    text-decoration-color: black;
    background:url(wood-board-2.png);
    border-bottom: 10px solid rgb(0, 0, 0);
    margin: auto;
}
.tabletask {
    margin: auto;
    text-align: center;
    border: 1px solid grey;
}
.tabletask th {
    font-weight: normal;    
    color: black;
    padding: 10px 15px;
}
.tabletask td {
    color: black;
    padding: 10px 15px;
}
.tabletask caption {
    font-size: 20px;
    text-decoration-color: 
}
.tabletask tr:nth-child(even) {background: #e8edff;}
img {
    max-width: 900px;
    height: auto;
}
header {
    text-align: center;
    letter-spacing: 1px;
    color: black;
    background:url(wood-board-2.png);
}
.logo {
    width: 170px;
    float: left;
    margin-bottom: 0px;
    text-align: left;
    background:url(wood-board-2.png);
}
h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    background:url(wood-board-2.png);
}
a {
    text-decoration: none;
}
.smt {
    margin: auto;
    text-align: left;
    max-width: 1000px;
    background:url(wood-board-2.png);
}
.menu {
    font-size: 20px;
    margin: auto;
    text-align: left;
    max-width: 960px;
    background:url(wood-board-2.png);
    border-bottom: 20px solid white;
}
.menu a {
    color: rgb(0, 0, 0);
}
.content {
    max-width: 960px;
    text-align: center;
    margin: auto;
}
form {
    border-top: 10px solid rgb(0, 0, 0);
    background:url(wood-board-2.png);
    Color:black;
    border-bottom: 10px solid rgb(0, 0, 0);
}
footer {
    font-size: 20px;
    background:url(wood-board-2.png)
    
}
